{% extends "base.html" %}

{% block body%}

<table style="overflow-x: auto;">
    <h2>Computer</h2>

        <thead>
        <tr>
            <th>Computer Name</th>
            <th>Serial Number</th>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Model</th>
            <th>Location</th>
            <th>Comments</th>
        </tr>
            </thead>

{% for item in object_list %}
    <tbody>
        <tr>
        <td>{{item.computer_name}}</td>
        <td>{{item.serial_number}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.person_full_name}}</td>
        <td>{{item.model_number}}</td>
        <td>{{ item.location }}</td>

    <td>{{ item.comments }}</td>
 </tr>
    {% endfor %}
    </tbody>










</table>



{% endblock %}